.nav-menu [type="checkbox"], .nav-menu label.toggle-subMenu {
    display: none
}

.nav-menu label.toggle-menu {
    cursor: pointer;
    display: none;
}

.nav-menu label.toggle-menu .fas {
    font-size: 45px;
    color: #979797;
    transition: 0.5s all ease;
}

@media all and (max-width: 1200px) {

    .vebinar-block {
        height: 500px;
    }

    nav {
        padding-top: 5%;
    }

    .registration-button-circle {
        display: none;
    }

    .social-icons {
        position: fixed;
        top: 40%;
        left: 1.5px;
    }

    .social-icons a {
        font-size: 30px;
    }

    .nav-menu {
        overflow: hidden;
        padding-bottom: 1.5% !important;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu ul>li>ul>li>ul {
        top: 0;
        right: auto;
    }

    .nav-menu ul {
        display: none;
    }

    .nav-menu label.toggle-menu {
        display: unset;
    }

    input.toggle-menu:checked ~ ul {
        border: 1px solid #eee;
        box-shadow: 0 0 4px #eee;
        background-color: #fff;
        display: block;
        position: absolute;
        top: 185px;
        right: 0;
        z-index: 1000;
    }

    input.toggle-menu:checked ~ label.toggle-menu .fas {
        font-size: 50px;
        color: #08ccf3;
        transform: rotate(180deg);
        transition: 0.5s all ease
    }

    .nav-menu li:hover > ul {
        display: none;
    }

    .nav-menu ul>li>ul {
        width: 100% !important;
        border: unset;
    }

    input.toggle-subMenu:checked ~ ul {
        display: block;
        position: relative;
    }

    .nav-menu label.toggle-subMenu {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin-bottom: 0;
        font-size: 18px;
        color: #979797;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .nav-menu label.toggle-subMenu .fas {
        position: absolute;
        top: 53px;
        right: 5px;
        transition: 0.5s all ease;
    }

    .nav-menu label.inside .fas {
        position: absolute;
        top: 30px !important;
        right: 5px;
        transition: 0.5s all ease;
        color: #fff;
    }

    input.toggle-subMenu:checked ~ label.toggle-subMenu .fas {
        transition: 0.5s all ease;
        transform: rotate(180deg);
        color: #08ccf3;
    }

    input.toggle-subMenu:checked ~ label.inside .fas {
        transition: 0.5s all ease;
        transform: rotate(180deg);
        color: #444;
    }

}

@media all and (max-width: 1024px) {

    .good p {
        padding-bottom: 20%;
    }

    .about-us-text {
        width: 45%;
    }
}

@media all and (max-width: 992px) {

    .vebinar-block {
        height: 400px;
    }

    nav {
        padding-top: 10%;
    }

    .personal-consulting-card {
        width: 49.5%;
        margin-bottom: 0.5%;
    }

    .corp-consulting-card {
        width: 49.5%;
        margin-bottom: 0.5%;
    }

    .for-who-block {
        width: 49.5%;
        margin-bottom: 1%;
    }

    .part-of-training .course-ul {
        width: 100%;
    }

    .part-of-training .fas {
        display: none;
    }

    .part-1, .part-2 {
        width: 45%;
    }

    .good {
        padding: 2%;
    }

    .body-course {
        flex-direction: column-reverse;
    }

    .body-course .course-ul {
        margin-right: 0;
    }

    .img-block {
        margin: 5% 0;
    }

    .course-ul {
        width: 85%;
    }
}

@media all and (max-width: 768px) {

    .vebinar-block {
        height: 300px;
    }

    .course:first-child img {
        width: 100%;
        height: auto;
    }

    form {
        width: 100%;
    }

    .footer-logo {
        text-align: center;
    }

    .form-unisender form {
        width: 100% !important;
    }

    .authors-of-project {
        margin-top: 5%;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us-text, .main-video {
        width: 100%;
    }

    .about-us-text {
        margin-bottom: 3%;
    }

    .about-author-main {
        flex-direction: column-reverse !important;
    }

    .part-1 {
        width: 100%;
    }

    .part-2 {
        width: 60%;
    }

    .goods {
        flex-wrap: wrap;
    }

    .good {
        width: 49.5%;
        margin-bottom: 1%;
    }

    .program-of-course-top {
        flex-direction: column;
        align-items: unset;
    }

    .program-of-course-img {
        max-width: 400px;
        margin: 0 auto;
    }

    .table-of-modules tr th {
        display: none;
    }

    .table-of-modules tr td {
        display: block;
    }

    td, th {
        padding: 0 !important;
    }

    .hidden-title {
        display: block;
        text-align: left;
        background-color: #5ae3ff6b;
        padding: 4%;
        font-weight: 600;
    }

    .about-author {
        flex-direction: column;
    }

    .about-img {
        margin-bottom: 5%;
    }

    #fixed-5 {
        display: none;
    }

    .header-info {
        justify-content: flex-start
    }

    .header-info li:first-child {
        display: unset;
        justify-content: flex-start
    }

    .header-info li {
        display: none;
    }
}

@media all and (max-width: 500px) {

    .vebinar-block {
        height: 250px;
    }

    nav {
        padding-top: 15%;
    }

    .course-ul {
        width: 85%;
    }

    .h3 {
        margin-bottom: 8%;
    }

    .packages .course-ul {
        width: 85%;
    }

    .corp-consulting-card {
        width: 100%;
        margin-bottom: 3%;
    }

    .personal-consulting-card {
        width: 100%;
        margin-bottom: 3%;
    }

    .for-who-block {
        width: 100%;
        margin-bottom: 5%;
    }

    .program-of-training-block {
        margin-bottom: 5%;
    }

    .program-of-training-block:first-child {
        margin-top: 5%;
    }

    .good {
        width: 100%;
        margin: 0 auto 3% auto;
        padding: 5%;
    }

    .program-of-course-img {
        max-width: 300px;
        margin: 0 auto;
    }

    .social-icons {
        display: none;
    }

    .banner {
        display: none;
    }

    .program-of-course .program-ul {
        width: 100% !important;
    }

    form {
        width: 100%;
    }

    .nav-logo img {
        height: 80px !important;
    }

    input.toggle-menu:checked ~ ul {
        top: 135px;
    }
}