* {
    margin: 0;
    padding: 0;
}

hr {
    margin: 0 !important;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #08ccf3;
}

input {
    box-shadow: none !important;
    outline: #08ccf3;
}

.container-fluid {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.top-menu {
    background-color: #00a8db;
    position: fixed;
    height: 40px;
    z-index: 10000;
}

.header-info {
    display: flex;
    font-size: 12px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
}

.header-info li {
    list-style: none;
    margin-right: 15px;
    top: 1px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-info li:first-child {
    font-weight: 800;
    font-size: 12px;
    border-right: 2px solid rgba(255,255,255,0.6);
    padding-right: 15px;
}

.header-info a {
    text-decoration: none;
    color: #fff;
}

.link {
    transition: all 0.2s ease;
}

.link:hover {
    transition: all 0.2s ease;
    transform: scale(1.15);
}

.link-menu {
    transition: all 0.2s ease;
}

.link-menu:hover {
    transition: all 0.2s ease;
    transform: scale(1.1);
}

.header-info a:hover {
    transition: 0.4s ease;
    color: #ffffff;
}

.nav-logo img {
    height: 120px !important;
    width: auto;
}

.nav-logo {
    padding: 0 !important;
    display: unset;
    width: 15%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 3%;
}

.nav-menu {
    padding: 0 !important;
    display: unset;
    width: 70%
}

.nav-menu ul {
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    vertical-align: bottom;
}

.nav-menu ul li {
    list-style: none;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    position: relative;
}

.nav-menu ul li:first-child {
    border-left: 1px solid #e6e6e6;
}

.nav-menu ul>li>a {
    display: table-cell;
    padding: 0 20px;
    letter-spacing: normal;
    font-weight: bold;
    line-height: 15px;
    height: 80px;
    font-size: 14px;
    text-decoration: none;
    color: #646464;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.nav-menu ul>li>a:hover {
    background-color: #08ccf3;
    color: #fff !important;
    box-shadow: inset 0 80px #08ccf3;
    transition: all 0.3s ease;
}

.nav-menu ul>li>ul {
    display: none;
    padding: 25px 45px;
    position: absolute;
    width: max-content !important;
    background-color: #08ccf3;
    z-index: 100;
    border: 2px solid #eee
}

.nav-menu ul>li>ul>li>a {
    display: block;
    padding-bottom: 2%;
    letter-spacing: normal;
    font-weight: normal;
    line-height: unset;
    height: unset;
    font-size: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
    transition: all 0.1s ease;
}

.nav-menu ul>li>ul>li {
    list-style: square !important;
    border-top: none;
    border-right: none;
    position: unset;
    color: rgba(255, 255, 255, 0.925);
}

.nav-menu ul>li>ul>li:first-child {
    border-left: unset;
}

.nav-menu ul>li>ul>li>a:hover {
    background-color: unset;
    color: #fff;
    box-shadow: unset;
    transition: all 0.3s ease;
}

.nav-menu li:hover > ul {
    display: block;
}

.h3, .h4 {
    color: #313131;
    margin: 3% 0;
}

.body-course .course-ul {
    margin-right: 20%;
    width: auto;
}

.course-ul {
    list-style: square;
    width: 80%;
    margin-left: 1.7%;
}

.course-ul li span {
    color: #313131 !important;
}

.course-ul li {
    color: #08ccf3;
    font-size: 17px;
    padding: 2% 0;
    font-weight: 500;
}

.img-block {
    width: auto;
    box-shadow: 5px 5px 15px rgb(202, 202, 202);
}

.body-course img {
    width: 100%;
    height: auto;
}

.body-course {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.course-info-banner {
    margin: 5% 0;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    border: 1px solid #eee;
    padding: 3%;
    background-color: #5ae3ff6b;
    color: #444;
    font-size: 18px;
    font-weight: 700;
}

.for-who .fas {
    margin-right: 0.5%;
    font-size: 25px;
}

.for-who-booker-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.for-who {
    margin-bottom: 6%;
}

.text-part {
    width: 45%;
}

.video-part {
    width: 50%;
}

.video-part iframe {
    width: 100%;
    height: 500px;
}

.for-who span {
    font-weight: 500;
}

.for-who .fa-book {
    color: #3b5998;
}

.for-who .fa-user-circle {
    color: #8b5000;
}

.for-who .fa-cross {
    color: #fbf42e;
}

.program-of-course-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program-of-course-top img {
    width: 100%;
    height: auto;
}

.program-of-course-img {
    width: 600px;
}

.program-of-course {
    margin-bottom: 6%;
}

.program-ul li {
    color: #90e200 !important;
}

.program-ul {
    position: relative;
}

.img-bottom, .img-top {
    position: absolute;
    height: auto;
}

.img-bottom {
    width: 30% !important;
    transform: rotate(80deg);
    bottom: 0;
    left: 10%;
}

.img-top {
    width: 40% !important;
    top: -8%;
    transform: rotate(0);
    left: 60%;
}

.point-of-course p, .for-who p {
    font-size: 18px;
}

.point-of-course p {
    font-weight: 500;
}

.point-of-course ul {
    list-style: square;
    margin-left: 1.7%;
}

.point-of-course ul li {
    font-size: 17px;
    padding: 0.8% 0;
}

.hidden-title {
    display: none;
}

table {
    width: 100%;
}

th {
    text-align: center !important;
}

.table-of-modules {
    border: 2px solid #eee;
    width: 100%;
    font-size: 18px;
    box-shadow: 0 10px 10px rgb(228, 228, 228);
}

td, th {
    padding: 1.5%;
}

td, th {
    border: 2px solid #eee;
}

.title-in-table {
    background-color: #5ae3ff6b;
    font-weight: 700;
    color: #444
}

.title-in-table th {
    width: 33.3%;
}

.count-of-modules {
    text-align: center;
    font-weight: 500
}

.table-of-modules .course-ul {
    margin-left: auto;
    margin-right: auto;
}

.table-of-modules .course-ul li {
    margin-bottom: 5px;
}

.banner {
    width: 100%;
    margin-bottom: 5%;
}

.about-authors-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.about-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding-top: 5%;
}

.about-author:first-child {
    margin-top: 2%;
    padding-top: 0;
}

.about-img {
    width: auto;
    padding-right: 10%;
}

.about-img img {
    width: 270px;
    height: auto;
    border-radius: 50%;
}

.about-text {
    font-size: 18px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px #eee;
    width: auto;
    padding: 3%;
}

form {
    width: 50%;
}

.form-payment p {
    font-size: 18px;
    font-weight: 600;
}

form p {
    font-weight: 500 !important;
    font-size: 14px !important;
    margin-bottom: 0.6% !important;
    margin-left: 1%;
}

.form-payment input[type="submit"] {
    border-radius: 5rem;
    padding: 2% 12%;
    border: 1px solid #00a8db;
    background-color: #00a8db;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 3%;
}

.form-payment input {
    border-radius: 5rem;
    padding: 0.5% 2%;
    margin-bottom: 2%;
    display: block;
}

#fixed-5 {
    height: 200px;
    background: url(../img/fixed-wrap/fixed-5.jpg) no-repeat center center fixed;
    background-blend-mode: multiply;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -webkit-min-background-size: cover
}

.social-icons {
    position: fixed;
    top: 40%;
    left: 20px;
}

.dws-share {
    transition: 0.3s all ease;
}

.social-icons a {
    text-decoration: none;
    font-size: 33px;
}

.dws-share:hover {
    transform: scale(1.5);
    transition: 0.3s all ease;
}

.dws-share {
    padding: 2% 0;
}

.dws-facebook a {
    color: #3b5998;
}

.dws-whatsapp a {
    color: #00e202;
}

.dws-youtube a {
    color: #e62117;
}

.dws-envelope a {
    color: #f6f300;
}

.dws-instagram a {
    color: #e24cc8;
}

.dws-share {
    text-align: center;
}

.main-banner {
    margin: 2% 0;
}

.main-banner img {
    width: 100%;
    height: auto;
}

.goods {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
}

.good {
    width: 24.5%;
    padding: 3%;
    height: auto;
    border: 1px solid #eee;
    transition: 0.5s all ease;
    cursor: pointer;
    position: relative;
}

.good p {
    padding-bottom: 5%;
}

.good button {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.good .fas {
    font-size: 40px;
    margin-bottom: 3%;
}

.good:hover {
    border: #08ccf3;
    box-shadow: 0 10px 10px #08ccf3;
    transition: 0.5s all ease;
    transform: scale(1.01);
}

.goods .fa-users {
    color: #e1e000;
}

.goods .fa-pen-fancy {
    color: #313131;
}

.goods .fa-chart-line {
    color: #e62117;
}

.goods .fa-desktop {
    color: #3b5998;
}

.btn-outline-warning {
    border: 1px solid #08ccf3 !important;
    color: #08ccf3;
    box-shadow: none !important;
}

.btn-outline-warning:hover {
    background-color: #08ccf3;
    color: #fff;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
}

.about-us-text {
    width: 45%;
    font-size: 18px;
    font-weight: 500;
    padding-right: 2%;
}

.about-us-text ul {
    list-style: square;
    margin-left: 3.3%;
}

.about-us-text ul li {
    color: #08ccf3;
}

.about-us-text ul li span {
    color: #000 !important;
}

.main-video {
    width: 50%;
}

.about-author-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6%;
    font-size: 18px;
}

.about-author-main:last-child {
    margin-bottom: 0;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.part-1 {
    width: 50%;
}

.part-2 {
    width: 27%;
}

.part-2 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.contacts {
    border-top: 1px solid #08ccf3;
    padding-top: 3%;
    text-align: left;
}

.contacts a {
    text-decoration: none;
    color: #444444;
    margin-left: 1%;
}

.about-author-main:last-child .contacts {
    text-align: right;
}

.about-author-main:last-child .contacts a {
    margin-left: 0;
    margin-right: 1%;
}

.contacts .fa-instagram {
    color: #e24cc8;
}

.contacts .fa-envelope {
    color: #fbf42e;
}

.authors-of-project-container {
    margin-bottom: 6%;
}

.slider {
    overflow: hidden;
    position: relative;
    margin-bottom: 6%;
}

.navigation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    background-color: #08ccf3;
    margin: 6px;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 3rem;
    transition: all 0.4s ease;
}

.bar:hover {
    opacity: 1;
    transition: all 0.4s ease;
    transform: scale(1.2);
}

input[name='r'] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 700%;
    height: 100%;
    display: flex;
}

.slide {
    width: 14.5%;
    transition: all 0.5s ease;
}

.s1 p, .s2 p, .s3 p, .s4 p, .s5 p, .s6 p, .s7 p {
    max-height: 0;
    transition: all 0.8s ease;
}

#r1:checked ~ .s1 p, #r2:checked ~ .s2 p, #r3:checked ~ .s3 p, #r4:checked ~ .s4 p, #r5:checked ~ .s5 p, #r6:checked ~ .s6 p, #r7:checked ~ .s7 p {
    max-height: 1000px;
    transition: all 0.8s ease;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -14.5%;
}

#r3:checked ~ .s1 {
    margin-left: -29%;
}

#r4:checked ~ .s1 {
    margin-left: -43.5%;
}

#r5:checked ~ .s1 {
    margin-left: -58%;
}

#r6:checked ~ .s1 {
    margin-left: -72.5%;
}

#r7:checked ~ .s1 {
    margin-left: -87%;
}

#r1:checked ~ .navigation label[for='r1'] {
    opacity: 1;
}

#r2:checked ~ .navigation label[for='r2'] {
    opacity: 1;
}

#r3:checked ~ .navigation label[for='r3'] {
    opacity: 1;
}

#r4:checked ~ .navigation label[for='r4'] {
    opacity: 1;
}

#r5:checked ~ .navigation label[for='r5'] {
    opacity: 1;
}

#r6:checked ~ .navigation label[for='r6'] {
    opacity: 1;
}


#r7:checked ~ .navigation label[for='r7'] {
    opacity: 1;
}


.form-unisender p {
    color: #444;
    font-size: 18px;
}

.form-unisender form {
    margin-top: 4%;
}

.form-unisender input {
    border-radius: 5rem;
    padding: 0.5% 2%;
    margin-bottom: 2%;
}

.form-unisender input[type='submit'] {
    border-radius: 5rem;
    padding: 1% 10%;
    border: 1px solid #00a8db;
    background-color: #00a8db;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-top: 3%;
    display: block;
}

.footer-info p {
    font-size: 10px;
    color: #646464;
}

.about-training {
    position: relative;
    margin-bottom: 6%;
}

.about-training p {
    font-size: 18px;
    color: #313131;
}

.about-training .course-ul {
    padding-bottom: 3%;
}

.about-training p span {
    font-weight: 500;
}

.btn-training {
    color: #fff;
    background-color: #08ccf3;
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.btn-training:hover {
    transition: all 0.3s ease-in-out;
    border: 1px solid #08ccf3;
    color: #313131;
    background-color: #fff;
    box-shadow: inset 0 50px #fff;
}

.for-who-training-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.for-who-block {
    width: 24.5%;
    padding: 2%;
    border: 1px solid #eee;
    height: auto;
    box-shadow: 0 0 5px #eee;
    margin-bottom: 6%;
}

#for-who-goals .for-who-block {
    width: 300px;
    height: 300px;
    margin-bottom: 0.7%;
    border-radius: 50%;
    margin-left: 9%;
}

.for-who-block .fas {
    font-size: 30px;
    margin-bottom: 3%;
}

.for-who-block .fa-hand-holding-usd {
    color: #e1c37b;
}

.for-who-block .fa-seedling {
    color: #00e202;
}

.for-who-block .fa-user-tie {
    color: #3b5998;
}

.for-who-block .fa-user-check {
    color: #00a8db;
}

#for-who-goals  .for-who-training-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#for-who-goals .for-who-training-block {
    width: 280px;
    height: 280px;
    border: 1px solid #eee;
    padding: 2%;
    position: relative;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 1rem;
}

#for-who-goals .for-who-training-block .inside-block {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}


#for-who-goals .fas, #for-who-goals .fab {
    font-size: 35px;
}

#for-who-goals .fa-bullseye {
    color: red;
}

#for-who-goals .fa-hand-paper {
    color: #ffd9c9;
}

#for-who-goals .fa-business-time {
    color: #8b5000;
}

#for-who-goals .fa-cloud {
    color: #5ae3ff6b;
}

#for-who-goals .fa-connectdevelop {
    color: #3b5998;
}

#for-who-goals .fa-check-square {
    color: #00e202;
}

.program-of-training-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.program-of-training {
    position: relative;
    margin-bottom: 6%;
}

.program-of-training-block {
    padding: 2%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #5ae3ff6b;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    box-shadow: 0 0 5px #5ae3ff6b;
}

.inside-program {
    text-align: center;
    padding: 5%;
    margin: 0 auto;
}

.inside-program .fas {
    font-size: 30px;
}

.inside-program .fa-desktop {
    color: #3b5998;
}

.inside-program .fa-pen-nib {
    color: #313131;
}

.inside-program .fa-comments {
    color: #f6f300;
}

.inside-program .fa-users {
    color: #e1c37b;
}

.inside-program .fa-clipboard {
    color: #db8700;
}

.inside-program .fa-clock {
    color: #49ff1e;
}

.inside-program .fa-calendar-alt {
    color: #e62117;
}

.part-of-training .fas {
    font-size: 250px;
    color: #08ccf3;
}

.registration-button-circle {
    letter-spacing: 5px;
    background-color: #5ae3ff6b;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 2%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #5ae3ff6b;
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    top: 370px;
}

.registration-button-circle:hover {
    transition: all 0.5s ease;
    box-shadow: inset 0 250px #08ccf3 !important;
    color: #fff;
}

.registration-button-circle:hover a {
    color: #fff;
}

.registration-button-container a {
    color: #646464;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.part-of-training .course-ul {
    width: 70%;
}

.part-of-training {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 3%;
}

#goals-training .program-of-training-block {
    width: 300px;
    height: 300px;
}

#goals-training .registration-button-circle {
    display: none;
}

.politic p {
    font-weight: 500;
}

.personal-consulting-cards-container, .corp-consulting-cards-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 3%;
}

.personal-consulting-card {
    width: 24.5%;
    height: auto;
    border: 1px solid #eee;
    padding: 2%;
}

.personal-consulting, .corp-consulting {
    position: relative;
    margin-bottom: 6%;
}

.personal-consulting-card .fas, .corp-consulting-card .fas, .corp-consulting-card .fab {
    font-size: 45px;
    margin-bottom: 2%;
}

.personal-consulting-card .fa-unlock-alt {
    color: #646464;
}

.personal-consulting-card .fa-cubes {
    color: #db8700;
}

.personal-consulting-card .fa-chess-king {
    color: #8b5000;
}

.personal-consulting-card .fa-chart-line {
    color: #3b5998;
}

.corp-consulting-card {
    width: 32.5%;
    margin-bottom: 1%;
    height: auto;
    border: 1px solid #eee;
    padding: 2%;
}

.corp-consulting-card .fa-chart-bar {
    color: #e62117;
}

.corp-consulting-card .fa-chess {
    color: #8b5000;
}

.corp-consulting-card .fa-keycdn {
    color: #00a8db;
}

.corp-consulting-card .fa-users-cog {
    color: #e1c37b;
}

.corp-consulting-card .fa-chart-pie {
    color: gold;
}

.corp-consulting-card .fa-marker {
    color: #3b5998;
}

.for-who-consulting-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.for-who-consulting {
    position: relative;
    margin-bottom: 6%;
}

.for-who-consulting-block {
    padding: 2%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #5ae3ff6b;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    box-shadow: 0 0 5px #5ae3ff6b;
}

.inside-consulting-block {
    text-align: center;
    padding: 5%;
    margin: 0 auto;
}

.inside-consulting-block .fas, .inside-consulting-block .fab {
    font-size: 30px;
}

.inside-consulting-block .fa-user-tie {
    color: #3b5998;
}

.inside-consulting-block .fa-house-user {
    color: #8b5000;
}

.inside-consulting-block .fa-safari {
    color: #00a8db;
}

.inside-consulting-block .fa-seedling {
    color: #00e202;
}

.inside-consulting-block .fa-info-circle {
    color: #e62117;
}

.why-we .course-ul {
    padding-bottom: 3%;
}

.why-we {
    position: relative;
    margin-bottom: 6%;
}

.packages .table-of-modules td {
    position: relative;
}

.packages .course-ul {
    padding-bottom: 10%;
    width: 90%;
}

.packages th {
    text-align: left;
    width: 33.3%;
}

.title-2 {
    background-color: rgba(0, 255, 70, 0.62) !important;
}

.title-3 {
    background-color: #fff685 !important;
}

.packages .text-muted {
    font-weight: 600;
    font-size: 14px;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    color: #313131 !important;
}

.packages {
    margin-bottom: 6%;
}

.select-package {
    margin-bottom: 3%;
    box-shadow: none !important;
}

#chosen-package {
    font-size: 18px !important;
    margin: 5% 0 !important;
}

.payment-info {
    color: #313131 !important;
    font-size: 14px !important;
}

.packages .course-ul {
    padding-bottom: 150px;
}

.price-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.price-block .btn {
    padding: 0.4rem 1.5rem;
}

.first-block {
    border: 2px solid #5ae3ff6b;
    background-color: #5ae3ff6b;
}

.second-block {
    border: 2px solid rgba(0, 255, 70, 0.62);
    background-color: rgba(0, 255, 70, 0.62);
}

.third-block {
    border: 2px solid #fff685;
    background-color: #fff685;
}

.vebinar, .training, .course {
    margin-bottom: 6%;
}

.trainings-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.training {
    width: 49.5%;
}


.training img {
    width: 100%;
    height: auto;
}

.training p {
    font-size: 20px;
    margin: 3% 0;
}

.training p span {
    font-weight: 500;
}

.training .btn-training-main, .course .btn-training-main {
    padding: 0.4rem 2rem;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.3rem;
}

.inside-program .fa-book-reader {
    color: #fbf42e;
}

.inside-program .fa-cubes {
    color: cornflowerblue;
}

.inside-program .fa-bed {
    color: brown;
}

.inside-program .fa-exclamation-circle {
    color: red;
}

.courses-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.course {
    width: 45%;
    display: inline-block;
}

.course img {
    width: 100%;
    height: auto;
}

.course p {
    margin: 3% 0;
    color: #313131;
    font-size: 20px;
}

.course p span {
    font-weight: 500;
}

.course .btn {
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.4rem 1rem;
}

#booker-course-packages .first-ul li {
    color: #00dbd9 !important;
}

#booker-course-packages .second-ul li {
    color: #9de200 !important;
}

#booker-course-packages .third-ul li {
    color: #caa2ff !important;
}

#booker-course-packages .title-3, #booker-course-packages .third-block {
    border: 1px solid #00dbd9;
    background-color: #00dbd9 !important;
}

#booker-course-packages .title-in-table {
    color: #313131 !important;
}

#booker-course-packages .title-1, #booker-course-packages .first-block {
    border: 1px solid #caa2ff;
    background-color: #caa2ff !important;
}

#booker-course-packages .title-2, #booker-course-packages .second-block {
    background-color: #9de200 !important;
    border: 1px solid #9de200;
}

.request iframe {
    width: 100%;
    height: 900px;
    overflow-y: -moz-scrollbars-none;
}

.btn-dark {
    background-color: #373f51 !important;
    border: 1px solid #373f51 !important;
    font-weight: 500;
    padding: 0.4rem 1rem;
    transition: all 0.3s ease;
}

.btn-dark:hover {
    opacity: 0.9 !important;
    transition: all 0.3s ease;
}

.btn-training-main {
    background-color: #08ccf3;
    border: 1px solid #08ccf3;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-weight: 400;
}

.btn-training-main:hover {
    background-color: #fff;
    box-shadow: inset 0 40px #fff;
    color: #313131;
    transition: all 0.2s ease-in-out;
}

.price {
    font-size: 16px;
    padding: 0.2rem 1rem;
    background-color: #00a8db;
    color: #fff;
    font-weight: 500;
    border-radius: 0.2rem;
    box-shadow: 0 0 3px #00a8db;
}

.about-author-main .course-ul {
    width: 100% !important;
}

.vebinar-block {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.vebinar-block iframe {
    width: 100%;
    height: 100%;
}

.vebinars-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.vebinar {
    width: 550px;
}

.vebinar-container {
    margin-top: 4%;
}

.slide-inside-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-inside-container .img-back-review {
    width: 100%;
    height: auto;
    z-index: 0;
    opacity: 0.05;
}

.slide-inside {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.slide-inside img {
    width: 250px;
    height: auto;
}

.slide-inside p {
    color: #313131;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 8%;
    width: 95%;
}





