{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Обучающий курс «От Устава до Баланса»">
    <meta property="og:site_name" content="Бизнес-школа «Навигатор»">
    <meta property="og:url" content="https://nabizz.ru/booker-course">
    <meta property="og:description" content="Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.">
    <meta name="description" content="Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.">
{% endblock %}

{% block main %}
    <section class="about-course">
            <div class="title text-left">
                <h2 class="h3" style="font-weight: bold">Курс «От Устава до Баланса»</h2>
            </div>
            <section class="body-course">
                <ul class="course-ul">
                    <h3 class="h4">Благодаря этому курсу вы научитесь КАК:</h3>
                    <li><span>Зарегистрировать церковь: от Устава до Свидетельства Минюста</span></li>
                    <li><span>Вести документооборот</span></li>
                    <li><span>Сформировать бюджет церкви</span></li>
                    <li><span>Оформлять Программы для реализации Уставной деятельности Церкви</span></li>
                    <li><span>Правильно оформлять документы на сотрудников и волонтеров</span></li>
                    <li><span>Принимать пожертвования от физических и юридических лиц</span></li>
                    <li><span>Организовать и вести Бухгалтерский и налоговый учет в Церкви</span></li>
                </ul>
                <div class="img-block"><img src="{{ url_for('static', filename='img/booker-course/mini-banner.jpeg') }}" alt="Бухгалтерский курс «От Устава до Баланса»"></div>
            </section>
            <section class="course-info-banner">
                <div class="info-banner">
                    <p>Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.</p>
                    <p>Мы собрали практический опыт с разных сторон и разработали уникальный продукт для церкви любого размера с пошаговым алгоритмом конкретных действий.</p>
                    <p>Кроме того, мы видим свою миссию в профессии и поделимся любовью к большой работе с вами.</p>
                </div>
            </section>
        </section>
        <section class="point-of-course border-top">
            <h2 class="h3">Цель курса:</h2>
            <p>Сконцентрировать внимание и обучить представителей церквей основным положениям российского законодательства о религиозной деятельности, а также вопросам документооборота церкви, налогообложения и ведения бухгалтерского учета.</p>
            <h2 class="h3">Задачи курса:</h2>
            <ul class="course-ul">
                <li><span>Повысить квалификацию кадров для обеспечения ведения бухгалтерского и налогового учета в религиозной организации</span></li>
                <li><span>Определить и структурировать документооборот для внутренней деятельности церкви</span></li>
                <li><span>Изучить правовые аспекты деятельности церкви. О сложном - просто</span></li>
                <li><span>Рекомендовать алгоритмы и пакет документов для оформления благотворительной и социальной деятельности церкви</span></li>
            </ul>
        </section>
        <figure>
            <div class="fixed-wrap">
                <div id="fixed-5"></div>
            </div>
        </figure>
        <section class="for-who border-top">
            <h2 class="h3">Для кого:</h2>
            <div class="for-who-booker-container">
                <div class="text-part">
                    <i class="fas fa-book"></i><p><span>Бухгалтеры</span>: <br> Повышение квалификации для работы в религиозной организации.</p>
                    <i class="fas fa-user-circle"></i>
                    <p><span>Администраторы религиозных объединений и руководители</span>:
                    <br> Структурированная дорожная карта правовой и финансовой деятельности церкви.</p>
                    <i class="fas fa-cross"></i></i><p><span>Пасторы</span>: <br> Общее представление о деятельности церкви, как юридического лица.</p>
                </div>
                <div class="video-part">
                    <iframe src="https://www.youtube.com/embed/L5yR21hx8C0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="program-of-course border-top">
            <h2 class="h3">Как проходит обучение:</h2>
            <section class="program-of-course-top">
                <ul class="course-ul program-ul">
                    <li><span>С 1.02.2020</span></li>
                    <li><span>Запись уроков на обучающей платформе, комфортный темп обучения с любого устройства</span></li>
                    <li><span>6 блоков, 30 уроков. Подробный материал по каждой теме</span></li>
                    <li><span>Доступ ко всем записям в течение 4-х месяцев</span></li>
                    <li><span>8 онлайн-встреч для ответов на вопросы по каждому блоку</span></li>
                    <li><span>Чат поддержки</span></li>
                    <li><span>Домашние задания для закрепления материала после каждого урока</span></li>
                    <li><span>Дополнительные рабочие материалы и образцы документов, чек-листы</span></li>
                    <li><span>Сертификат, в случае успешного прохождения курса</span></li>
                </ul>
                <div class="program-of-course-img">
                    <img src="{{ url_for('static', filename='img/booker-course/tree-2.png') }}" alt="Программа курса">
                </div>
            </section>
        </section>
        <section class="program-of-course border-top">
        <h2 class="h3">Программа курса:</h2>
            <p style="color: #444; font-size: 14px;">Разработано при поддержке РОСХВЕ*</p>
            <table class="table-of-modules">
                <tr class="count-of-modules">
                    <th>Блок 1</th>
                    <th>Блок 2</th>
                    <th>Блок 3</th>
                </tr>
                <tr class="title-in-table">
                    <th>Создание и функционирование религиозной организации</th>
                    <th>Документооборот</th>
                    <th>Финансовое планирование религиозной организации</th>
                </tr>
                <tr>
                    <td>
                        <p class="hidden-title">Блок 1 <br> Создание и функционирование религиозной организации</p>
                        <ul class="course-ul">
                            <li><span>Выбор формы деятельности – религиозная группа, организация, НКО</span></li>
                            <li><span>Разработка Устава</span></li>
                            <li><span>Структура управления в Уставе. Практика</span></li>
                            <li><span>Разработка внутренних положений церкви</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Блок 2 <br> Документооборот</p>
                        <ul class="course-ul">
                            <li><span>Документооборот организации</span></li>
                            <li><span>Оформление протоколов</span></li>
                            <li><span>Виды договоров</span></li>
                            <li><span>Защита персональных данных</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Блок 3 <br> Финансовое планирование религиозной организации</p>
                        <ul class="course-ul">
                            <li><span>Разработка плана, бюджета и отчёта о текущей деятельности</span></li>
                            <li><span>Оформление рабочих программ мероприятий в рамках уставной деятельности, в т.ч благотворительных</span></li>
                            <li><span>Управленческий учет для руководителя</span></li>
                            <li><span>Финансирование деятельности церкви</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table class="table-of-modules">
                <tr class="count-of-modules">
                    <th>Блок 4</th>
                    <th>Блок 5</th>
                    <th>Блок 6</th>
                </tr>
                <tr class="title-in-table">
                    <th>Эксплуатация здания</th>
                    <th>Миссионерская деятельность</th>
                    <th>Бухгалтерский учет</th>
                </tr>
                <tr>
                    <td>
                        <p class="hidden-title">Блок 4 <br> Эксплуатация здания</p>
                        <ul class="course-ul">
                            <li><span>Эксплуатация здания</span></li>
                            <li><span>Пожарная безопасность</span></li>
                            <li><span>Паспорт антитеррористической безопасности</span></li>
                            <li><span>Проверки в религиозной организации</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Блок 5 <br> Миссионерская деятельность</p>
                        <ul class="course-ul">
                            <li><span>Миссионерская деятельность</span></li>
                            <li><span>Уличная евангелизация</span></li>
                            <li><span>Организация и проведение публичных, выездных, палаточных мероприятий</span></li>
                            <li><span>Религиозная группа –документооборот и принцип работы</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Блок 6 <br> Бухгалтерский учет</p>
                        <ul class="course-ul">
                            <li><span>Основы бухучета</span></li>
                            <li><span>Учетная политика. Активы. План счетов</span></li>
                            <li><span>Кадровый документооборот</span></li>
                            <li><span>Волонтерство. Договоры подряда</span></li>
                            <li><span>Учет расходов по заработной плате</span></li>
                            <li><span>Пожертвования: учет операций по расчётному счёту, кассовых операций, учёт целевых средств</span></li>
                            <li><span>Отчётность: бухгалтерская, налоговая, статистическая, управленческая</span></li>
                            <li><span>Трапезная. Книжный стол</span></li>
                            <li><span>Работа с программой «1C»</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <section class="banner">
            <img src="{{ url_for('static', filename='img/booker-course/banner.svg') }}" alt="Курс от Устава до Баланса">
        </section>
        <section class="authors border-top">
            <h2 class="h3">Авторы курса:</h2>
            <section class="about-authors-block">
                <section class="about-author">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/irina-2.jpg') }}" alt="Ирина Марвах">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Ирина Марвах</h4>
                        <p>Исполнительный директор Ассоциации «Церкви веры»**, топ –менеджер, управляющий. Автор обучающих программ, курсов профессионального и личностного развития.</p>
                    </section>
                </section>
                <section class="about-author border-top">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/marina.jpg') }}" alt="Марина Матиевская">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Марина Матиевская</h4>
                        <p>Главный бухгалтер РОСХВЕ*. Имеет 20-летний опыт работы в коммерческом и некоммерческом секторе. Специалист по налоговому планированию, восстановлению бухгалтерского учета и внутреннему аудиту компаний. Лектор Российского фонда образовательных программ «Экономика и Управление».
                            <br><br>
                            Личный сайт - <a href="http://keepwelldone.tilda.ws" target="_blank">keepwelldone.ru</a>
                        </p>
                    </section>
                </section>
                <section class="about-author border-top">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/f1.jpg') }}" alt="Александр Фомичев">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Александр Фомичев</h4>
                        <p>Практикующий юрист и предприниматель. Спикер на вебинарах, конференциях и семинарах для бизнеса, НКО.</p>
                    </section>
                </section>
        </section>
        <section class="border-top packages" id="booker-course-packages">
            <h2 class="h3">Выбор пакета участия:</h2>
            <p style="font-size: 16px; color: #444">Скидка действует до 01.01.2021</p>
            <p style="font-size: 16px; color: #444">Старт 2 потока с 01.02.2021 года</p>
            <table class="table-of-modules">
                <tr class="count-of-modules">
                    <th class="title-in-table title-3">Бухгалтер <br> <span style="font-size: 16px">30 уроков (4 мес)</span></th>
                    <th class="title-in-table title-2">Администратор <br> <span style="font-size: 16px">20 уроков (2,5 мес)</span></th>
                    <th class="title-in-table title-1">Пастор <br> <span style="font-size: 16px">4 урока (2 нед)</span></th>
                </tr>
                <tr>
                    <td>
                        <p class="hidden-title title-3">Бухгалтер <br> <span style="font-size: 16px">30 уроков (4 мес)</span></p>
                        <ul class="course-ul first-ul">
                            <li><span>Доступ к Блокам 1-6 </span></li>
                            <li><span><span class="bold">2 бонусных урока</span> <br> Тайм-менеджмент / Функции менеджмента </span></li>
                            <li><span>Сертификат</span></li>
                        </ul>
                        <div class="price-block">
                            <p style="font-size: 14px; color: #8e8d8d">Цена до 01.01.2021</p>
                            <p class="text-muted third-block">Цена <span style="text-decoration: line-through">18.000</span> 15.000 &#8381;</p>
                            <a href="{{ url_for('request_page', package_name='booker') }}"><button class="btn btn-dark choosing-btn">Принять участие</button></a>
                        </div>
                    </td>
                    <td>
                        <p class="hidden-title title-2">Администратор <br> <span style="font-size: 16px">20 уроков (2,5 мес)</span></p>
                        <ul class="course-ul second-ul">
                            <li><span>Доступ к Блокам 1-5</span></li>
                            <li><span><span class="bold">2 бонусных урока</span> <br> Тайм-менеджмент / Функции менеджмента</span></li>
                            <li><span>Сертификат</span></li>
                        </ul>
                        <div class="price-block">
                            <p style="font-size: 14px; color: #8e8d8d">Цена до 01.01.2021</p>
                            <p class="text-muted second-block">Цена <span style="text-decoration: line-through">12.000</span> 10.000 &#8381;</p>
                            <a href="{{ url_for('request_page', package_name='admin') }}"><button class="btn btn-dark choosing-btn">Принять участие</button></a>
                        </div>
                    </td>
                    <td>
                        <p class="hidden-title title-1">Пастор <br> <span style="font-size: 16px">4 урока (2 нед)</span></p>
                        <ul class="course-ul third-ul">
                            <li><span>Доступ к Блоку 5</span></li>
                            <li><span>Миссионерская деятельность </span></li>
                            <li><span>Уличная евангелизация</span></li>
                            <li><span>Организация и проведение публичных, выездных, палаточных мероприятий</span></li>
                            <li><span>Религиозная группа –документооборот и принцип работы</span></li>
                        </ul>
                        <div class="price-block">
                            <p class="text-muted first-block">Бесплатно</p>
                            <a href="{{ url_for('request_page', package_name='pastor') }}"><button class="btn btn-dark choosing-btn">Принять участие</button></a>
                        </div>
                    </td>
                </tr>
            </table>
            <p style="font-size: 14px; color: #444; margin: 4% 0 0.5% 0;">*Централизованная религиозная организация Российский объединенный Союз христиан веры евангельской (пятидесятников)</p>
            <p style="font-size: 14px; color: #444;">**Централизованная религиозная организация Ассоциация церквей христиан веры евангельской (пятидесятников) «Церкви веры»</p>
            </section>
        </section>
{% endblock %}