{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Обучающий курс «От Устава до Баланса»">
    <meta property="og:site_name" content="Бизнес-школа «Навигатор»">
    <meta property="og:url" content="https://nabizz.ru/booker-course">
    <meta property="og:description" content="Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.">
    <meta name="description" content="Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.">
{% endblock %}

{% block main %}
    <section class="about-course">
            <div class="title text-left">
                <h2 class="h3" style="font-weight: bold">Курс «От Устава до Баланса»</h2>
            </div>
            <section class="body-course">
                <ul class="course-ul">
                    <h3 class="h4">Благодаря этому курсу вы научитесь КАК:</h3>
                    <li><span>Зарегистрировать церковь: от Устава до Свидетельства Минюста</span></li>
                    <li><span>Вести документооборот</span></li>
                    <li><span>Сформировать бюджет церкви</span></li>
                    <li><span>Оформлять Программы для реализации Уставной деятельности Церкви</span></li>
                    <li><span>Правильно оформлять документы на сотрудников и волонтеров</span></li>
                    <li><span>Принимать пожертвования от физических и юридических лиц</span></li>
                    <li><span>Организовать и вести Бухгалтерский и налоговый учет в Церкви</span></li>
                </ul>
                <div class="img-block"><img src="{{ url_for('static', filename='img/booker-course/mini-banner.jpeg') }}" alt="Бухгалтерский курс «От Устава до Баланса»"></div>
            </section>
            <section class="course-info-banner">
                <div class="info-banner">
                    <p>Это единственная программа, соединяющая бухгалтеров, администраторов и пасторов церквей в командной работе – распространять вероучение, соблюдая установленные государством правовые предписания.</p>
                    <p>Мы собрали практический опыт с разных сторон и разработали уникальный продукт для церкви любого размера с пошаговым алгоритмом конкретных действий.</p>
                    <p>Кроме того, мы видим свою миссию в профессии и поделимся любовью к большой работе с вами.</p>
                </div>
            </section>
        </section>
        <section class="point-of-course border-top">
            <h2 class="h3">Цель курса:</h2>
            <p>Сконцентрировать внимание и обучить представителей церквей основным положениям российского законодательства о религиозной деятельности, а также вопросам документооборота церкви, налогообложения и ведения бухгалтерского учета.</p>
            <h2 class="h3">Задачи курса:</h2>
            <ul class="course-ul">
                <li><span>Повысить квалификацию кадров для обеспечения ведения бухгалтерского и налогового учета в религиозной организации</span></li>
                <li><span>Определить и структурировать документооборот для внутренней деятельности церкви</span></li>
                <li><span>Изучить правовые аспекты деятельности церкви. О сложном - просто</span></li>
                <li><span>Рекомендовать алгоритмы и пакет документов для оформления благотворительной и социальной деятельности церкви</span></li>
            </ul>
        </section>
        <figure>
            <div class="fixed-wrap">
                <div id="fixed-5"></div>
            </div>
        </figure>
        <section class="for-who border-top">
            <h2 class="h3">Для кого:</h2>
            <div class="for-who-booker-container">
                <div class="text-part">
                    <i class="fas fa-book"></i><p><span>Бухгалтеры</span>: <br> Повышение квалификации для работы в религиозной организации.</p>
                    <i class="fas fa-user-circle"></i>
                    <p><span>Администраторы религиозных объединений и руководители</span>:
                    <br> Структурированная дорожная карта правовой и финансовой деятельности церкви.</p>
                    <i class="fas fa-cross"></i></i><p><span>Пасторы</span>: <br> Общее представление о деятельности церкви, как юридического лица.</p>
                </div>
                <div class="video-part">
                    <iframe src="https://www.youtube.com/embed/L5yR21hx8C0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="program-of-course border-top">
            <h2 class="h3">Как проходит обучение:</h2>
            <section class="program-of-course-top">
                <ul class="course-ul program-ul">
                    <li><span>С 3 августа по 30 октября 2020 года</span></li>
                    <li><span>Онлайн-семинары 2 раза в неделю</span></li>
                    <li><span>3 модуля, 24 семинара, 58 академических часов</span></li>
                    <li><span>Доступ ко всем записям в течение 4х месяцев</span></li>
                    <li><span>3 онлайн встречи для ответов на вопросы по каждому модулю</span></li>
                    <li><span>Чат поддержки</span></li>
                    <li><span>Тестирование после каждого модуля</span></li>
                    <li><span>Сертификат, в случае успешного прохождения тестирования</span></li>
                    <li><span>Дополнительные рабочие материалы и образцы документов, чек-листы</span></li>
                </ul>
                <div class="program-of-course-img">
                    <img src="{{ url_for('static', filename='img/booker-course/tree-2.png') }}" alt="Программа курса">
                </div>
            </section>
        </section>
        <section class="program-of-course border-top">
        <h2 class="h3">Программа курса:</h2>
            <p style="color: #444; font-size: 14px;">Разработано при поддержке РОСХВЕ*</p>
            <table class="table-of-modules">
                <tr class="count-of-modules">
                    <th>Модуль 1</th>
                    <th>Модуль 2</th>
                    <th>Модуль 3</th>
                </tr>
                <tr class="title-in-table">
                    <th>Создание и функционирование религиозной организации</th>
                    <th>Бухгалтерский учёт</th>
                    <th>Документальное оформление уставной деятельности</th>
                </tr>
                <tr>
                    <td>
                        <p class="hidden-title">Модуль 1 <br> Создание и функционирование религиозной организации</p>
                        <ul class="course-ul">
                            <li><span>Выбор формы деятельности – религиозная группа или организация</span></li>
                            <li><span>Разработка устава</span></li>
                            <li><span>Создание и работа руководящих / исполнительных органов</span></li>
                            <li><span>Пошаговый алгоритм регистрации религиозного объединения</span></li>
                            <li><span>Открытие расчётного счёта и выбор способа для приема пожертвований</span></li>
                            <li><span>Разработка плана, бюджета и отчёта о текущей деятельности</span></li>
                            <li><span>Обязательный минимальный документооборот: оформление внутренних приказов и протоколов</span></li>
                            <li><span>Минимальный перечень документов для эксплуатации здания(охрана труда, план производственных работ, ремонт, пожарная безопасность)</span></li>
                            <li><span>Виды договоров купли-продажи и услуг</span></li>
                            <li><span>Виды договоров аренды</span></li>
                            <li><span>Миссионерская деятельность</span></li>
                            <li><span>Ответы на вопросы</span></li>
                            <li><span>Тест</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Модуль 2 <br> Бухгалтерский учёт</p>
                        <ul class="course-ul">
                            <li><span>Формирование учётной политики религиозной организации</span></li>
                            <li><span>Учёт ОС, НМА, дебиторская и кредиторская задолженность</span></li>
                            <li><span>Трудовая деятельность: персональные данные, волонтерские и трудовые договоры, кадровый документооборот, служебные командировки</span></li>
                            <li><span>Пожертвования: учет операций по расчётному счёту, кассовых операций, учёт целевых средств, эквайринг, QR-коды</span></li>
                            <li><span>Учёт расходов с подотчётными лицами</span></li>
                            <li><span>Учёт расходов по заработной плате, пособиям по временной нетрудоспособности, отпуску</span></li>
                            <li><span>Отчётность: бухгалтерская, налоговая, статистическая, управленческая</span></li>
                            <li><span>Возмещение НДФЛ для благотворителей</span></li>
                            <li><span>Ответы на вопросы</span></li>
                            <li><span>Тест</span></li>
                        </ul>
                    </td>
                    <td>
                        <p class="hidden-title">Модуль 3 <br> Документальное оформление уставной деятельности</p>
                        <ul class="course-ul">
                            <li><span>Оформление рабочих программ мероприятий в рамках уставной деятельности, в т.ч благотворительных</span></li>
                            <li><span>Волонтерство</span></li>
                            <li><span>Функционирование Трапезной и книжного стола</span></li>
                            <li><span>Оформление реабилитационных центров</span></li>
                            <li><span>Социальная и/или благотворительная работа</span></li>
                            <li><span>Тайм-менеджмент и современные программы для командной работы</span></li>
                            <li><span>Организация и проведение публичных, выездных, палаточных мероприятий</span></li>
                            <li><span>Целевое финансирование: оформление проекта и отчетность, в т.ч. от иностранных жертвователей</span></li>
                            <li><span>Получение Субсидий и грантов от государства, НКО и иных спонсоров</span></li>
                            <li><span>Ответы на вопросы</span></li>
                            <li><span>Тест</span></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <section class="banner">
            <img src="{{ url_for('static', filename='img/booker-course/banner.svg') }}" alt="Курс от Устава до Баланса">
        </section>
        <section class="authors border-top">
            <h2 class="h3">Авторы курса:</h2>
            <section class="about-authors-block">
                <section class="about-author">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/irina-2.jpg') }}" alt="Ирина Марвах">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Ирина Марвах</h4>
                        <p>Исполнительный директор Ассоциации «Церкви веры»**, топ –менеджер, управляющий. Автор обучающих программ, курсов профессионального и личностного развития.</p>
                    </section>
                </section>
                <section class="about-author border-top">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/marina.jpg') }}" alt="Марина Матиевская">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Марина Матиевская</h4>
                        <p>Главный бухгалтер РОСХВЕ*. Имеет 20-летний опыт работы в коммерческом и некоммерческом секторе. Специалист по налоговому планированию, восстановлению бухгалтерского учета и внутреннему аудиту компаний. Лектор Российского фонда образовательных программ «Экономика и Управление».</p>
                    </section>
                </section>
                <section class="about-author border-top">
                    <section class="about-img">
                        <img src="{{ url_for('static', filename='img/booker-course/f1.jpg') }}" alt="Александр Фомичев">
                    </section>
                    <section class="about-text">
                        <h4 class="h5">Александр Фомичев</h4>
                        <p>Практикующий юрист и предприниматель. Спикер на вебинарах, конференциях и семинарах для бизнеса, НКО.</p>
                    </section>
                </section>
        </section>
        <section class="border-top packages" id="booker-course-packages">
            <h2 class="h3">Выбор пакета участия:</h2>
            <p style="font-size: 16px; color: #444">Скидка действует до 30.06.2020 </p>
            <table class="table-of-modules">
                <tr class="count-of-modules">
                    <th class="title-in-table title-3">Бухгалтер <br> <span style="font-size: 16px">3 месяца, 28 тем</span></th>
                    <th class="title-in-table title-2">Администратор <br> <span style="font-size: 16px">2 месяца, 20 тем</span></th>
                    <th class="title-in-table title-1">Пастор <br> <span style="font-size: 16px">1 месяц, 5 тем</span></th>
                </tr>
                <tr>
                    <td>
                        <p class="hidden-title title-3">Бухгалтер <br> <span style="font-size: 16px">3 месяца, 28 тем</span></p>
                        <ul class="course-ul first-ul">
                            <li><span><span class="bold">Доступ к модулю 1</span> <br> Создание и функционирование религиозной организации</span></li>
                            <li><span><span class="bold">Доступ к модулю 2</span> <br> Бухгалтерский учет</span></li>
                            <li><span><span class="bold">Доступ к модулю 3</span> <br> Документальное оформление уставной деятельности</span></li>
                            <li><span>Проверка домашних заданий кураторами с обратной связью и комментариями</span></li>
                            <li><span>Доступ в закрытый чат участников курса на 3 месяца</span></li>
                            <li><span>Шаблоны, чек –листы, пакеты документов</span></li>
                            <li><span>Zoom -встречи с ответами на вопросы и разборами ошибок от кураторов</span></li>
                            <li><span>Сертификат</span></li>
                        </ul>
                        <div class="price-block">
                            <p class="text-muted third-block">Цена <span style="text-decoration: line-through">18.000</span> 15.000 &#8381;</p>
                            <a href="{{ url_for('request_page', package_name='booker') }}"><button class="btn btn-dark choosing-btn" id="5000" name="Личная консультация">Принять участие</button></a>
                        </div>
                    </td>
                    <td>
                        <p class="hidden-title title-2">Администратор <br> <span style="font-size: 16px">2 месяца, 20 тем</span></p>
                        <ul class="course-ul second-ul">
                            <li><span><span class="bold">Доступ к модулю 1</span> <br> Создание и функционирование религиозной организации</span></li>
                            <li><span><span class="bold">Доступ к модулю 3</span> <br> Документальное оформление уставной деятельности</span></li>
                            <li><span>Проверка домашних заданий кураторами с обратной связью и комментариями</span></li>
                            <li><span>Доступ в закрытый чат участников курса на 3 месяца</span></li>
                            <li><span>Шаблоны, чек –листы, пакеты документов</span></li>
                            <li><span>Zoom -встречи с ответами на вопросы и разборами ошибок от кураторов</span></li>
                            <li><span>Сертификат</span></li>
                        </ul>
                        <div class="price-block">
                            <p class="text-muted second-block">Цена <span style="text-decoration: line-through">12.000</span> 10.000 &#8381;</p>
                            <a href="{{ url_for('request_page', package_name='admin') }}"><button class="btn btn-dark choosing-btn" id="10500" name="Корпоративный консалтинг">Принять участие</button></a>
                        </div>
                    </td>
                    <td>
                        <p class="hidden-title title-1">Пастор <br> <span style="font-size: 16px">1 месяц, 5 тем</span></p>
                        <ul class="course-ul third-ul">
                            <p style="font-weight: 500">Доступ к темам:</p>
                            <li><span>Выбор формы деятельности – религиозная группа или организация</span></li>
                            <li><span>Разработка Устава</span></li>
                            <li><span>Разработка Плана, бюджета и Отчета о текущей деятельности</span></li>
                            <li><span>Миссионерская деятельность</span></li>
                            <li><span>Организация и проведение публичных, выездных, палаточных мероприятий</span></li>
                            <li><span>Zoom-встреча с ответами на вопросы</span></li>
                        </ul>
                        <div class="price-block">
                            <p class="text-muted first-block">Бесплатно</p>
                            <a href="{{ url_for('request_page', package_name='pastor') }}"><button class="btn btn-dark choosing-btn" id="10000" name="Консультация по start-up проектам">Принять участие</button></a>
                        </div>
                    </td>
                </tr>
            </table>
            <p style="font-size: 14px; color: #444; margin: 4% 0 0.5% 0;">*Централизованная религиозная организация Российский объединенный Союз христиан веры евангельской (пятидесятников)</p>
            <p style="font-size: 14px; color: #444;">**Централизованная религиозная организация Ассоциация церквей христиан веры евангельской (пятидесятников) «Церкви веры»</p>
            </section>
        </section>
{% endblock %}