{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Вебинар «Вебинар «Как избавиться от страха?»">
    <meta property="og:site_name" content="Бизнес-школа «Навигатор»">
    <meta property="og:url" content="https://nabizz.ru/vebinar/fears">
    <meta property="og:description" content="Человек работает минимум 8 часов в день, с юности до почтенного возраста. И это много, не поспоришь. А теперь представьте вариант работать, при этом радоваться, не ждать пятницы и не ворчать себе под нос гадости после встречи с начальником, представляя как офис сгорит в огне. И не сожалеть об упущенных идеях, которые пылятся в шкафу. Отлично, тогда регистрируйся на вебинар. Потому что осталось прояснить один маленький вопрос – Как заниматься любимым делом, зарабатывать и двигаться к цели.">
    <meta name="description" content="Человек работает минимум 8 часов в день, с юности до почтенного возраста. И это много, не поспоришь. А теперь представьте вариант работать, при этом радоваться, не ждать пятницы и не ворчать себе под нос гадости после встречи с начальником, представляя как офис сгорит в огне. И не сожалеть об упущенных идеях, которые пылятся в шкафу. Отлично, тогда регистрируйся на вебинар. Потому что осталось прояснить один маленький вопрос – Как заниматься любимым делом, зарабатывать и двигаться к цели.">
{% endblock %}

{% block main %}
    <section id="fears">
        <section class="main-banner">
            <img src="{{ url_for('static', filename='img/vebinars/fears/fears-banner.png') }}" alt="Вебинар «Как избавиться от страха?»">
        </section>
        <section class="text-center ">
            <h2><span class="filled-h2">Запишитесь на вебинар</span>, если вы:</h2>
        </section>
    </section>
{% endblock %}