{% extends 'base.html' %}

{% block main %}
    <section class="main-banner">
        <img src="{{ url_for('static', filename='img/goals/goals.jpg') }}" alt="Онлайн-тренинг «Баланс целей»">
    </section>
    <section class="about-training border-top text-center">
        <h2 class="h3 text-left">О чём тренинг:</h2>
        <div class="text-left">
            <p><span>«Баланс целей»</span> – 21-дневный марафон, в результате которого ты напишешь практический план по достижению целей под руководством тренера.
            </p>
            <p>Часто задуманное не получается из-за прежнего негативного опыта - не получилось, перепутал с мечтой, не рассчитал силы, ошибся со временем, остался без поддержки.
Не повод расстраиваться –прими участие в марафоне по целям!</p>
            <p><span>Цель тренинга</span> – научиться ставить умные цели, планировать, достигать результата и оставаться в сбалансированной жизни.</p>
        </div>
        <h3 class="h4 text-left">Задачи марафона:</h3>
        <ul class="course-ul text-left">
            <li><span>Освоить методику постановки smart – целей, практика</span></li>
            <li><span>Осознать важность баланса и ключевых правил планирования</span></li>
            <li><span>Внедрить в жизнь тайм –менеджмент</span></li>
        </ul>
        <a class="registration-button" href=""><button class="btn btn-training btn-goals">Регистрация</button></a>
    </section>
    <section class="for-who-training border-top" id="for-who-goals">
        <h2 class="h3">Для кого предназначен:</h2>
        <div class="for-who-training-container">
            <div class="for-who-training-block">
                <div class="inside-block">
                    <i class="fas fa-bullseye"></i>
                    <h5 class="h6">Кто хочет научиться ставить цели, которые работают</h5>
                </div>
            </div>
            <div class="for-who-training-block">
                <div class="inside-block">
                    <i class="fas fa-hand-paper"></i>
                    <h5 class="h6">Кто устал от пылящихся идей</h5></div>
            </div>
            <div class="for-who-training-block">
                <div class="inside-block">
                    <i class="fas fa-business-time"></i>
                    <h5 class="h6">Кто не знает, как все успеть</h5>
                </div>
            </div>
            <div class="for-who-training-block">
                <div class="inside-block">
                    <i class="fas fa-cloud"></i>
                    <h5 class="h6">Кто хочет мечтать по-крупному</h5>
                </div>
            </div>
            <div class="for-who-training-block">
               <div class="inside-block">
                    <i class="fab fa-connectdevelop"></i>
                   <h5 class="h6">Кто устал жить в хаосе</h5>
               </div>
            </div>
            <div class="for-who-training-block">
                <div class="inside-block">
                    <i class="fas fa-check-square"></i>
                    <h5 class="h6">Кто хочет быть человеком дела, а не вечным романтиком</h5>
                </div>
            </div>
        </div>
    </section>
    <section class="program-of-training border-top text-center" id="goals-training">
        <h2 class="h3 text-left">Программа марафона:</h2>
        <div class="program-of-training-container">
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-desktop"></i><h5 class="h6">Голосовые сообщения в WhatsApp каждый день. Никаких сложных уроков – только выжимка практики на расстоянии вытянутой к смартфону руки. Ты будешь тратить в день 10 минут и шаг за шагом сформулируешь свои цели на год</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program"><i class="fas fa-pen-nib"></i><h5 class="h6">Домашние задания по 10 минут в день с обратной связью от тренеров</h5></div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-comments"></i><h5 class="h6">Чат поддержки</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-users"></i><h5 class="h6">2 живых вебинара для подведения итогов и вопросов – ответов</h5>
                </div>
            </div>
            <div class="program-of-training-block">
               <div class="inside-program">
                    <i class="fas fa-clipboard"></i><h5 class="h6">Чек –листы для работы на уроке и закрепления материала</h5>
               </div>
            </div>
            <div class="registration-button-circle">
                <div class="inside-program registration-button-container">
                    <a class="" href="">Регистрация</a>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-calendar-alt"></i><h5 class="h6">Марафон будет длиться 21 день. Мы разберем цели простым языком, чтобы они перестали пылиться на полке, и их достижение начнет приносить тебе удовольствие</h5>
                </div>
            </div>
        </div>
        <h3 class="h4 text-left">Модули марафона:</h3>
        <div class="part-of-training">
            <ul class="course-ul text-left">
                <li><span>Видение</span></li>
                <li><span>Умные цели</span></li>
                <li><span>Мотивация</span></li>
                <li><span>Самооценка</span></li>
                <li><span>Планирование</span></li>
                <li><span>Сила желаний</span></li>
                <li><span>Сбалансированная жизнь</span></li>
                <li><span>Долгосрочные цели</span></li>
            </ul>
            <i class="fas fa-check"></i>
        </div>
        <a class="registration-button" href=""><button class="btn btn-training btn-goals">Регистрация</button></a>
    </section>
    <section class="authors-of-project-container border-top">
        <h2 class="h3">Авторы тренинга:</h2>
        <section class="authors-of-project">
            <div class="about-author-main">
                <div class="part-1">
                    <h3 class="h4">Ирина Марвах</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Топ–менеджер, профессиональный управляющий</p>
                    <ul class="course-ul">
                        <li><span>17 лет опыта в руководстве коммерческими и некоммерческими организациями, командами от 10 до 100 человек</span></li>
                        <li><span>Соавтор тренингов личностного и профессионального роста</span></li>
                        <li><span>Консультант по вопросам целеполагания, делегирования, управлению и проектной деятельности</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:irina.marvakh@gmail.com">irina.marvakh@gmail.com</a>
                        </div>
                        <div>
                            <i class="fab fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/irina_marvakh/" target="_blank">@irina_marvakh</a>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/irina-2.jpg') }}" alt="Ирина Марвах">
                </div>
            </div>
            <div class="about-author-main border-top">
                <div class="part-1">
                    <h3 class="h4">Татьяна Ряховская</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Бизнес-тренер</p>
                    <ul class="course-ul">
                        <li><span>15 лет опыта практикующего финансового консультанта</span></li>
                        <li><span>Автор тренингов личностного и профессионального роста</span></li>
                        <li><span>Регулярно консультирует людей в вопросах выбора ниши бизнеса, оценке рисков и личного призвания</span></li>
                        <li><span>Спикер на конференциях и семинарах</span></li>
                        <li><span>Автор и ведущий корпоративных тренингов по командообразованию</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <a href="mailto:tanyarv@cogmos.ru">tanyarv@cogmos.ru</a><i class="fas fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/ryakhovskaya.t/" target="_blank">@ryakhovskaya.t</a><i class="fab fa-instagram" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/tatyna-1.jpg') }}" alt="Татьяна Ряховская">
                </div>
            </div>
        </section>
    </section>
    <section class="border-top form-payment" id="form-payment">
            <h2 class="h3">Регистрация на марафон:</h2>
            <p>Стоимость марафона - <span class="price">3.500 &#8381;</span></p>
            <p>Дата проведения: лето 2020 года</p>
            <p class="payment-info">После оплаты на указанную почту будет выслано подтверждение</p>
            <form action="https://money.yandex.ru/eshop.xml" method="post"> <input required name="shopId" value="651404"
                    type="hidden" /> <input required name="scid" value="1291299" type="hidden" />
                <input style="display: none;" required name="sum"
                    value="3500" type="number" min="3500" placeholder="3500 руб.">
                <p class="bold">Ф.И.О (<font color="red">*</font>):</p>
                <input class="form-control" required
                    name="customerNumber" value="" size="64" placeholder="Иван Иванов Иванович" />
                <p class="bold">Номер телефона (<font color="red">*</font>):</p>
                <input class="form-control" required name="custName" value=""
                    size="64" placeholder="+7(999)-999-9999" />
                <p class="bold">Почта (<font color="red">*</font>):</p>
                <input class="form-control" required name="custEmail"
                    value="" size="64" placeholder="ivanov@example.ru" />
                <textarea name="orderDetails" value="" rows="5" cols="64" wrap="soft" style="display: none;">БАЛАНС ЦЕЛЕЙ</textarea>
                <input type="submit" value="Оплатить">
            </form>
    </section>
{% endblock %}