{% extends 'base.html' %}

{% block meta %}
    <meta property="og:title" content="Тренинг «Осознанная индивидуальность»">
    <meta property="og:site_name" content="Бизнес-школа «Навигатор»">
    <meta property="og:url" content="https://nabizz.ru/individuality">
    <meta property="og:description" content="«Осознанная индивидуальность» – 3-дневный онлайн-тренинг, определяющий ключевые компетенции человека и методику работы с командой. Для тех, кто хочет знать «Кто я» и «Какая команда мне нужна»">
    <meta name="description" content="«Осознанная индивидуальность» – 3-дневный онлайн-тренинг, определяющий ключевые компетенции человека и методику работы с командой. Для тех, кто хочет знать «Кто я» и «Какая команда мне нужна»">
{% endblock %}

{% block main %}
    <section class="main-banner">
        <img src="{{ url_for('static', filename='img/individuality/individuality.jpg') }}" alt="Онлайн-тренинг «Осознанная индивидуальность»">
    </section>
    <section class="about-training border-top text-center">
        <h2 class="h3 text-left">О чём тренинг:</h2>
        <div class="text-left">
            <p><span>«Осознанная индивидуальность»</span> – 3-дневный онлайн-тренинг, определяющий ключевые компетенции человека и методику работы с командой. Для тех, кто хочет знать «Кто я» и «Какая команда мне нужна»</p>
            <p><span>Цель тренинга</span> – осознать свою индивидуальность для направления энергии в личное развитие и подбор команды.</p>
        </div>
        <h3 class="h4 text-left">Задачи тренинга:</h3>
        <ul class="course-ul text-left">
            <li><span>Определить ключевую управленческую компетенцию, сильные и слабые стороны</span></li>
            <li><span>Найти источники энергии для исключения «выгорания» из жизни и бизнеса</span></li>
            <li><span>Научиться подбирать команду с разными компетенциями для эффективности роста</span></li>
        </ul>
        <a class="registration-button" href=""><button class="btn btn-training btn-individuality">Регистрация</button></a>
    </section>
    <section class="for-who-training border-top">
        <h2 class="h3">Для кого предназначен:</h2>
        <div class="for-who-training-container">
            <div class="for-who-block">
            <i class="fas fa-hand-holding-usd"></i><h4 class="h5">Бизнесмены</h4>
            <p>Подбор эффективной команды, в основе которой сильные стороны разных компетенций</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-seedling"></i><h4 class="h5">Начинающие предприниматели</h4>
                <p>Работа с командой для достижения как корпоративных, так и личных целей. Без выгорания.</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-tie"></i><h4 class="h5">Управленцы и лидеры</h4>
                <p>Осознание главной личной компетенции для лидерства</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-check"></i><h4 class="h5">Личный бренд</h4>
                <p>Идентифицировать себя и направлять энергию для развития в нужное русло.</p>
            </div>
        </div>
    </section>
    <section class="program-of-training border-top text-center">
        <h2 class="h3 text-left">Программа тренинга:</h2>
        <div class="program-of-training-container">
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-desktop"></i><h5 class="h6">Онлайн живая встреча каждый день, 3 дня</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program"><i class="fas fa-pen-nib"></i><h5 class="h6">Домашнее задание</h5></div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-comments"></i><h5 class="h6">Чат поддержки</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-users"></i><h5 class="h6">Групповая работа с индивидуальным подходом</h5>
                </div>
            </div>
            <div class="program-of-training-block">
               <div class="inside-program">
                    <i class="fas fa-clipboard"></i><h5 class="h6">Чек –листы для работы на уроке и закрепления материала</h5>
               </div>
            </div>
            <div class="registration-button-circle">
                <div class="inside-program registration-button-container">
                    <a class="" href="">Регистрация</a>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-clock"></i><h5 class="h6">Длительность встречи: 1 час, в 20:00</h5>
                </div>
            </div>
        </div>
        <h3 class="h4 text-left">Темы уроков:</h3>
        <div class="part-of-training">
            <ul class="course-ul text-left">
                <li><span>Самооценка</span></li>
                <li><span>6 видов управленческих компетенций. Какой твой стиль лидерства?</span></li>
                <li><span>Диаграмма гармонии</span></li>
            </ul>
            <i class="fas fa-align-right"></i>
        </div>
        <a class="registration-button" href=""><button class="btn btn-training btn-individuality">Регистрация</button></a>
    </section>
    <section class="authors-of-project-container border-top">
        <h2 class="h3">Авторы тренинга:</h2>
        <section class="authors-of-project">
            <div class="about-author-main">
                <div class="part-1">
                    <h3 class="h4">Ирина Марвах</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Топ–менеджер, профессиональный управляющий</p>
                    <ul class="course-ul">
                        <li><span>17 лет опыта в руководстве коммерческими и некоммерческими организациями, командами от 10 до 100 человек</span></li>
                        <li><span>Соавтор тренингов личностного и профессионального роста</span></li>
                        <li><span>Консультант по вопросам целеполагания, делегирования, управлению и проектной деятельности</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:irina.marvakh@gmail.com">irina.marvakh@gmail.com</a>
                        </div>
                        <div>
                            <i class="fab fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/irina_marvakh/" target="_blank">@irina_marvakh</a>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/irina-2.jpg') }}" alt="Ирина Марвах">
                </div>
            </div>
            <div class="about-author-main border-top">
                <div class="part-1">
                    <h3 class="h4">Татьяна Ряховская</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Бизнес-тренер</p>
                    <ul class="course-ul">
                        <li><span>15 лет опыта практикующего финансового консультанта</span></li>
                        <li><span>Автор тренингов личностного и профессионального роста</span></li>
                        <li><span>Регулярно консультирует людей в вопросах выбора ниши бизнеса, оценке рисков и личного призвания</span></li>
                        <li><span>Спикер на конференциях и семинарах</span></li>
                        <li><span>Автор и ведущий корпоративных тренингов по командообразованию</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <a href="mailto:tanyarv@cogmos.ru">tanyarv@cogmos.ru</a><i class="fas fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/ryakhovskaya.t/" target="_blank">@ryakhovskaya.t</a><i class="fab fa-instagram" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/tatyna-1.jpg') }}" alt="Татьяна Ряховская">
                </div>
            </div>
        </section>
    </section>
    <section class="border-top form-payment" id="form-payment">
            <h2 class="h3">Регистрация на тренинг:</h2>
            <p>Стоимость тренинга - <span class="price">3.500 &#8381;</span></p>
            <p>Дата проведения: 22-24 июня 2020 года</p>
            <p class="payment-info">После оплаты на указанную почту будет выслано подтверждение</p>
            <form action="https://money.yandex.ru/eshop.xml" method="post"> <input required name="shopId" value="651404"
                    type="hidden" /> <input required name="scid" value="1291299" type="hidden" />
                <input style="display: none;" required name="sum"
                    value="3500" type="number" min="3500" placeholder="3500 руб.">
                <p class="bold">Ф.И.О (<font color="red">*</font>):</p>
                <input class="form-control" required
                    name="customerNumber" value="" size="64" placeholder="Иван Иванов Иванович" />
                <p class="bold">Номер телефона (<font color="red">*</font>):</p>
                <input class="form-control" required name="custName" value=""
                    size="64" placeholder="+7(999)-999-9999" />
                <p class="bold">Почта (<font color="red">*</font>):</p>
                <input class="form-control" required name="custEmail"
                    value="" size="64" placeholder="ivanov@example.ru" />
                <textarea name="orderDetails" value="" rows="5" cols="64" wrap="soft" style="display: none;">ОСОЗНАННАЯ ИНДИВИДУАЛЬНОСТЬ</textarea>
                <input type="submit" value="Оплатить">
            </form>
    </section>
{% endblock %}