{% extends 'base.html' %}

{% block main %}
    <section class="main-banner">
        <img src="{{ url_for('static', filename='img/main/main-banner.jpg') }}" alt="Экспресс-курс «Изменение реальности»">
    </section>
    <section class="about-training border-top text-center">
        <h2 class="h3 text-left">О чём экспресс-курс:</h2>
        <div class="text-left">
            <p>Узнай о том, как изменить свою финансовую реальность при помощи изменения ограничивающих убеждений. Экспресс – курс «Изменение реальности» состоит из 5ти мини-уроков сконцентрированного тренинга для открытия дверей в мир изменения свободного мышления.</p>
        </div>
        <a class="registration-button" href=""><button class="btn btn-training btn-reality">Оплатить</button></a>
    </section>
    <section class="for-who-training border-top" style="margin-bottom: 6%">
        <h2 class="h3">Для кого предназначен:</h2>
        <div class="for-who-training-container">
            <div class="for-who-block">
            <i class="fas fa-hand-holding-usd"></i><h4 class="h5">Для тех, кто:</h4>
            <p>Понимает, что внутренние изменения необходимы для нового уровня жизни</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-seedling"></i><h4 class="h5">Для тех, кто</h4>
                <p>Застрял и не знает, как выбраться</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-tie"></i><h4 class="h5">Для тех, кто</h4>
                <p>Хочет начать новое дело и чувствует неуверенность</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-check"></i><h4 class="h5">Для тех, кто</h4>
                <p>Сомневается в своем деле «А тем ли я должен заниматься?» / Из – за низкой самооценки не двигается вперед</p>
            </div>
        </div>
        <p style="color: #313131; font-size: 20px; font-weight: bold">А также для тех, кто хочет разобраться «А что же такое убеждения и зачем их изменять?»</p>
    </section>
    <section class="program-of-training border-top text-center">
        <h2 class="h3 text-left">Программа курса и результат после прохождения:</h2>
        <div class="program-of-training-container">
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-book-reader"></i><h5 class="h6">Разберешься с темой убеждений</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-pen-nib"></i><h5 class="h6">Оценишь свою мотивацию</h5></div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-cubes"></i><h5 class="h6">Узнаешь, что реальность можно изменить</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-bed"></i><h5 class="h6">Задумаешься о причинах лени</h5>
                </div>
            </div>
            <div class="program-of-training-block">
               <div class="inside-program">
                    <i class="fas fa-clipboard"></i><h5 class="h6">Определишь свою самоидентификацию</h5>
               </div>
            </div>
            <div class="registration-button-circle">
                <div class="inside-program registration-button-container">
                    <a class="" href="">Оплатить</a>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-exclamation-circle"></i><h5 class="h6">Научишься разбирать свои ошибки и учиться на них</h5>
                </div>
            </div>
        </div>
        <h3 class="h4 text-left">Темы уроков:</h3>
        <div class="part-of-training">
            <ul class="course-ul text-left">
                <li><span>Что такое огранивающие убеждения</span></li>
                <li><span>Виды убеждений</span></li>
                <li><span>Какие существуют причины лени</span></li>
                <li><span>Как определить свою самоидентификацию</span></li>
                <li><span>Чем положительная мотивация отличается от отрицательной</span></li>
            </ul>
            <i class="fas fa-check"></i>
        </div>
        <a class="registration-button" href=""><button class="btn btn-training btn-reality">Оплатить</button></a>
    </section>
    <section class="authors-of-project-container border-top">
        <h2 class="h3">Авторы курса:</h2>
        <section class="authors-of-project">
            <div class="about-author-main">
                <div class="part-1">
                    <h3 class="h4">Ирина Марвах</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Топ–менеджер, профессиональный управляющий</p>
                    <ul class="course-ul">
                        <li><span>17 лет опыта в руководстве коммерческими и некоммерческими организациями, командами от 10 до 100 человек</span></li>
                        <li><span>Соавтор тренингов личностного и профессионального роста</span></li>
                        <li><span>Консультант по вопросам целеполагания, делегирования, управлению и проектной деятельности</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:irina.marvakh@gmail.com">irina.marvakh@gmail.com</a>
                        </div>
                        <div>
                            <i class="fab fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/irina_marvakh/" target="_blank">@irina_marvakh</a>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/irina-2.jpg') }}" alt="Ирина Марвах">
                </div>
            </div>
            <div class="about-author-main border-top">
                <div class="part-1">
                    <h3 class="h4">Татьяна Ряховская</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Бизнес-тренер</p>
                    <ul class="course-ul">
                        <li><span>15 лет опыта практикующего финансового консультанта</span></li>
                        <li><span>Автор тренингов личностного и профессионального роста</span></li>
                        <li><span>Регулярно консультирует людей в вопросах выбора ниши бизнеса, оценке рисков и личного призвания</span></li>
                        <li><span>Спикер на конференциях и семинарах</span></li>
                        <li><span>Автор и ведущий корпоративных тренингов по командообразованию</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <a href="mailto:tanyarv@cogmos.ru">tanyarv@cogmos.ru</a><i class="fas fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/ryakhovskaya.t/" target="_blank">@ryakhovskaya.t</a><i class="fab fa-instagram" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/tatyna-1.jpg') }}" alt="Татьяна Ряховская">
                </div>
            </div>
        </section>
    </section>
    <section class="border-top form-payment" id="form-payment">
            <h2 class="h3">Оплата курса:</h2>
            <p>Стоимость курса - <span class="price">590 &#8381;</span></p>
            <p class="payment-info">После оплаты на указанную почту будет выслано подтверждение</p>
            <form action="https://money.yandex.ru/eshop.xml" method="post"> <input required name="shopId" value="651404"
                    type="hidden" /> <input required name="scid" value="1291299" type="hidden" />
                <input style="display: none;" required name="sum"
                    value="590" type="number" min="590" placeholder="590 руб.">
                <p class="bold">Ф.И.О (<font color="red">*</font>):</p>
                <input class="form-control" required
                    name="customerNumber" value="" size="64" placeholder="Иван Иванов Иванович" />
                <p class="bold">Номер телефона (<font color="red">*</font>):</p>
                <input class="form-control" required name="custName" value=""
                    size="64" placeholder="+7(999)-999-9999" />
                <p class="bold">Почта (<font color="red">*</font>):</p>
                <input class="form-control" required name="custEmail"
                    value="" size="64" placeholder="ivanov@example.ru" />
                <textarea name="orderDetails" value="" rows="5" cols="64" wrap="soft" style="display: none;">ЭКСПРЕСС-КУРС ИЗМЕНЕНИЕ РЕАЛЬНОСТИ</textarea>
                <input type="submit" value="Оплатить">
            </form>
    </section>
{% endblock %}