{% extends 'base.html' %}

{% block main %}
    <section class="main-banner">
        <img src="{{ url_for('static', filename='img/reality/reality.jpg') }}" alt="Онлайн-тренинг «Изменение реальности»">
    </section>
    <section class="about-training border-top text-center">
        <h2 class="h3 text-left">О чём тренинг:</h2>
        <div class="text-left">
            <p><span>«Изменение реальности»</span> – 4-дневный онлайн-тренинг для людей, которые хотят перейти на новый уровень и изменить ограничивающие убеждения о себе и деньгах.</p>
            <p><span>Цель тренинга</span> – освободиться от убеждений и шаблонов, навязанных окружающим миром об успехе и финансах, чтобы подняться на новый уровень дохода и свободы.</p>
        </div>
        <h3 class="h4 text-left">Задачи тренинга:</h3>
        <ul class="course-ul text-left">
            <li><span>Актуализировать важность душевной и духовной сферы для достижения результата</span></li>
            <li><span>Выявить ключевую мотивацию в работе</span></li>
            <li><span>Определить понятие личной успешности</span></li>
            <li><span>Поймать собственные ограничивающие убеждения и получить свободу, изменив на новые нормы</span></li>
            <li><span>Сформулировать конкретные возможности и практические шаги для достижения целей с новой нормой</span></li>
        </ul>
        <a class="registration-button" href=""><button class="btn btn-training btn-reality">Регистрация</button></a>
    </section>
    <section class="for-who-training border-top">
        <h2 class="h3">Для кого предназначен:</h2>
        <div class="for-who-training-container">
            <div class="for-who-block">
            <i class="fas fa-hand-holding-usd"></i><h4 class="h5">Бизнесмены</h4>
            <p>Иметь положительную мотивацию для бизнеса и прорыва, чтобы достижение финансовых результатов приносило и деньги, и счастье</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-seedling"></i><h4 class="h5">Начинающие предприниматели</h4>
                <p>Тренинг поможет настроить финансовое мышление для бесстрашного перехода в свое дело</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-tie"></i><h4 class="h5">Управленцы и лидеры</h4>
                <p>Точки опоры для личного развития в профессии и карьере, не ограничивая свои горизонты.</p>
            </div>
            <div class="for-who-block">
                <i class="fas fa-user-check"></i><h4 class="h5">Каждый, кто готов работать над собой</h4>
                <p>Застрял? Увидишь преграды, мешающие двигаться вперед. Чувствуешь, что занимаешься не своим делом? Поверишь в собственные силы - реализовать призвание и изменить реальность</p>
            </div>
        </div>
    </section>
    <section class="program-of-training border-top text-center">
        <h2 class="h3 text-left">Программа тренинга:</h2>
        <div class="program-of-training-container">
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-desktop"></i><h5 class="h6">Онлайн встреча каждый день, 4 дня</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program"><i class="fas fa-pen-nib"></i><h5 class="h6">Домашнее задание</h5></div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-comments"></i><h5 class="h6">Чат поддержки</h5>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-users"></i><h5 class="h6">Групповая работа с индивидуальным подходом</h5>
                </div>
            </div>
            <div class="program-of-training-block">
               <div class="inside-program">
                    <i class="fas fa-clipboard"></i><h5 class="h6">Чек –листы для работы на уроке и закрепления материала</h5>
               </div>
            </div>
            <div class="registration-button-circle">
                <div class="inside-program registration-button-container">
                    <a class="" href="">Регистрация</a>
                </div>
            </div>
            <div class="program-of-training-block">
                <div class="inside-program">
                    <i class="fas fa-clock"></i><h5 class="h6">Длительность встречи: 1 час, в 20:00</h5>
                </div>
            </div>
        </div>
        <h3 class="h4 text-left">Темы уроков:</h3>
        <div class="part-of-training">
            <ul class="course-ul text-left">
                <li><span>Введение. Влияние духовной и душевной сферы на результат</span></li>
                <li><span>Мотивация: положительная и отрицательная</span></li>
                <li><span>Успешность</span></li>
                <li><span>Мировоззрение, опыт, убеждение</span></li>
                <li><span>Выявление ограничивающих убеждений</span></li>
                <li><span>Практическая работа по изменению убеждений</span></li>
            </ul>
            <i class="fas fa-check"></i>
        </div>
        <a class="registration-button" href=""><button class="btn btn-training btn-reality">Регистрация</button></a>
    </section>
    <section class="authors-of-project-container border-top">
        <h2 class="h3">Авторы тренинга:</h2>
        <section class="authors-of-project">
            <div class="about-author-main">
                <div class="part-1">
                    <h3 class="h4">Ирина Марвах</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Топ–менеджер, профессиональный управляющий</p>
                    <ul class="course-ul">
                        <li><span>17 лет опыта в руководстве коммерческими и некоммерческими организациями, командами от 10 до 100 человек</span></li>
                        <li><span>Соавтор тренингов личностного и профессионального роста</span></li>
                        <li><span>Консультант по вопросам целеполагания, делегирования, управлению и проектной деятельности</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:irina.marvakh@gmail.com">irina.marvakh@gmail.com</a>
                        </div>
                        <div>
                            <i class="fab fa-instagram" aria-hidden="true"></i><a href="https://www.instagram.com/irina_marvakh/" target="_blank">@irina_marvakh</a>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/irina-2.jpg') }}" alt="Ирина Марвах">
                </div>
            </div>
            <div class="about-author-main border-top">
                <div class="part-1">
                    <h3 class="h4">Татьяна Ряховская</h3>
                    <p style="font-size: 16px; color: #4e555b; font-weight: 500">Бизнес-тренер</p>
                    <ul class="course-ul">
                        <li><span>15 лет опыта практикующего финансового консультанта</span></li>
                        <li><span>Автор тренингов личностного и профессионального роста</span></li>
                        <li><span>Регулярно консультирует людей в вопросах выбора ниши бизнеса, оценке рисков и личного призвания</span></li>
                        <li><span>Спикер на конференциях и семинарах</span></li>
                        <li><span>Автор и ведущий корпоративных тренингов по командообразованию</span></li>
                    </ul>
                    <div class="contacts">
                        <div>
                            <a href="mailto:tanyarv@cogmos.ru">tanyarv@cogmos.ru</a><i class="fas fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div>
                            <a href="https://www.instagram.com/ryakhovskaya.t/" target="_blank">@ryakhovskaya.t</a><i class="fab fa-instagram" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="part-2">
                    <img src="{{ url_for('static', filename='img/main/tatyna-1.jpg') }}" alt="Татьяна Ряховская">
                </div>
            </div>
        </section>
    </section>
    <section class="border-top form-payment" id="form-payment">
            <h2 class="h3">Регистрация на тренинг:</h2>
            <p>Стоимость тренинга - <span class="price">5.000 &#8381;</span></p>
            <p>Дата проведения: лето 2020 года</p>
            <p class="payment-info">После оплаты на указанную почту будет выслано подтверждение</p>
            <form action="https://money.yandex.ru/eshop.xml" method="post"> <input required name="shopId" value="651404"
                    type="hidden" /> <input required name="scid" value="1291299" type="hidden" />
                <input style="display: none;" required name="sum"
                    value="5000" type="number" min="5000" placeholder="5000 руб.">
                <p class="bold">Ф.И.О (<font color="red">*</font>):</p>
                <input class="form-control" required
                    name="customerNumber" value="" size="64" placeholder="Иван Иванов Иванович" />
                <p class="bold">Номер телефона (<font color="red">*</font>):</p>
                <input class="form-control" required name="custName" value=""
                    size="64" placeholder="+7(999)-999-9999" />
                <p class="bold">Почта (<font color="red">*</font>):</p>
                <input class="form-control" required name="custEmail"
                    value="" size="64" placeholder="ivanov@example.ru" />
                <textarea name="orderDetails" value="" rows="5" cols="64" wrap="soft" style="display: none;">ИЗМЕНЕНИЕ РЕАЛЬНОСТИ</textarea>
                <input type="submit" value="Оплатить">
            </form>
    </section>
{% endblock %}