{% extends 'base.html' %}

{% block main %}
    <section class="request-container">
        <h2 class="h3">Оставить заявку:</h2>
        <div class="request">
            <h3 class="h4">Выбранный пакет: {{ name }}</h3>
            {% if package_name == 'booker' %}
                <iframe src="{{ src_booker }}" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            {% elif package_name == 'pastor' %}
                <iframe src="{{ src_pastor }}" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            {% elif package_name == 'admin' %}
                <iframe src="{{ src_admin }}" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
            {% endif %}
        </div>
    </section>
{% endblock %}