{% extends 'base.html' %}

{% block title %}
    Тренинги
{% endblock %}

{% block main %}
    <section class="vebinars-container">
        <h2 class="h3">Онлайн-тренинги:</h2>
        <div class="trainings-container">
            <div class="training border-top">
                <h3 class="h4">Изменение реальности</h3>
                <img src="{{ url_for('static', filename='img/reality/reality.jpg') }}" alt="Тренинг «Изменение реальности»">
                <p><span>«Изменение реальности»</span> – тренинг личностного роста по преодолению ограничивающих убеждений в финансовой сфере. Результатом станет изменение каждого –ты узнаешь, как достичь прорыва и быть счастливым.</p>
                <a href="{{ url_for('reality') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
            <div class="training border-top">
                <h3 class="h4">Осознанная индивидуальность</h3>
                <img src="{{ url_for('static', filename='img/individuality/individuality.jpg') }}" alt="Тренинг «Осознанная индивидуальность»">
                <p><span>«Осознанная индивидуальность»</span> – профессиональный тренинг о компетенциях. В результате тренинга ты будешь точно знать «Кто ты» и каким путем достигать максимального результата в командной работе.</p>
                <a href="{{ url_for('individuality') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
            <div class="training border-top">
                <h3 class="h4">Баланс целей</h3>
                <img src="{{ url_for('static', filename='img/goals/goals.jpg') }}" alt="Тренинг «Баланс целей»">
                <p><span>«Баланс целей»</span> – марафон, в результате которого ты напишешь практический план по достижению целей под руководством тренера.</p>
                <a href="{{ url_for('goals') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
        </div>
    </section>
{% endblock %}