{% extends 'base.html' %}

{% block main %}
    <section class="vebinars-container">
        <h2 class="h3">Онлайн-тренинги:</h2>
        <div class="trainings-container">
            <div class="training border-top">
                <h3 class="h4">Изменение реальности</h3>
                <img src="{{ url_for('static', filename='img/reality/reality.jpg') }}" alt="Тренинг «Изменение реальности»">
                <p><span>«Изменение реальности»</span> – измени ограничивающие убеждения на новые нормы для перехода на другой финансовый уровень.</p>
                <a href="{{ url_for('reality') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
            <div class="training border-top">
                <h3 class="h4">Осознанная индивидуальность</h3>
                <img src="{{ url_for('static', filename='img/individuality/individuality.jpg') }}" alt="Тренинг «Осознанная индивидуальность»">
                <p><span>«Осознанная индивидуальность»</span> – определи свою личную индивидуальность для направления энергии в гармоничное развитие и подбор команды мечты.</p>
                <a href="{{ url_for('individuality') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
            <div class="training border-top">
                <h3 class="h4">Баланс целей</h3>
                <img src="{{ url_for('static', filename='img/goals/goals.jpg') }}" alt="Тренинг «Баланс целей»">
                <p><span>«Баланс целей»</span> – 21-дневный марафон, в результате которого ты научишься ставить умные цели, напишешь реальный план по их достижению и сохранишь сбалансированность жизни.</p>
                <a href="{{ url_for('goals') }}"><button class="btn btn-dark">Подробнее</button></a>
            </div>
        </div>
    </section>
{% endblock %}