{% extends 'base.html' %}

{% block main %}
    <section class="vebinars-container">
        <h2 class="h3">Список всех вебинаров:</h2>
        <div class="vebinars-block">
            <div class="vebinar">
                <h3 class="h4">«Как избавиться от страха»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/e8DcPp_h9UQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
            <div class="vebinar">
                <h3 class="h4">«ЛЕНЬ - Как её победить?»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/J_GJdPzrDmw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
            <div class="vebinar">
                <h3 class="h4">«Ответственность: привилегия или зависимость»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/2ukQ6FV0Zxk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
            <div class="vebinar">
                <h3 class="h4">«Цели: как правильно ставить и достигать?»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/p8NkR3EyOfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
            <div class="vebinar">
                <h3 class="h4">«Изменение убеждений»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/mGaYfz6bKAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
            <div class="vebinar">
                <h3 class="h4">«Составление бизнес-плана»</h3>
                <iframe class="vid" width="100%" src="https://www.youtube.com/embed/ump4mhIYnVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" style="height: 515px;"></iframe>
            </div>
        </div>
    </section>
{% endblock %}