{% extends 'base.html' %}

{% block main %}
    <section class="vebinar-container">
        <div class="vebinar-block">
            {% if vebinar_id == '0' %}
                <iframe class="vid" src="{{ src_0 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% elif vebinar_id == '1' %}
                <iframe class="vid" src="{{ src_1 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% elif vebinar_id == '2' %}
                <iframe class="vid" src="{{ src_2 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% elif vebinar_id == '3' %}
                <iframe class="vid" src="{{ src_3 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% elif vebinar_id == '4' %}
                <iframe class="vid" src="{{ src_4 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% elif vebinar_id == '5' %}
                <iframe class="vid" src="{{ src_5 }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            {% endif %}
        </div>
    </section>
{% endblock %}